<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../assets/images/favicon.svg">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/media.css">
        <title>EMEW Labs</title>
    </head>
    <body>
        <div class="contain">
            <header>
                <div class="container wrapper" id ="menuToggle">
                    <a href="/" class="branding-logo hidden-lg">
                        <img src="../assets/images/logo.svg" alt="" class="image">
                    </a>
                    <a href="/" class="branding-logo hidden-sm no-margin">
                        <img src="../assets/images/logo-mobile.svg" alt="" class="image">
                    </a>
                    <div class="nav">
                        <ul>
                            <li>Solutions</li>
                            <li>Resources</li>
                            <li>Pricing</li>
                            <li>Blog</li>
                        </ul>
                    </div>
                    <button class="hidden-lg"> 
                        GET STARTED -- it's free
                    </button>
                    <nav role='navigation' class="hidden-sm">
                        <div class="side-nav">
                          <input type="checkbox" />
                          <span></span>
                          <span></span>
                          <span></span>
                          <ul id="menu">
                            <li>Solutions</li>
                            <li>Resources</li>
                            <li>Pricing</li>
                            <li>Blog</li>
                          </ul>
                        </div>
                      </nav>
                </div>
            </header>
            <main>
                <section class="center-wrapper above-fold">
                    <h1 class="align_center">Grow your Business.
                        Plain & Simple
                    </h1>
                    <p class="lg-size align_center">
                        Scaling your business is just a cloud away. We offer a wide range of solutions that surely fits your business needs.  
                    </p>
                    <form class="align_center landing-form">
                        <div class="inline-flex">
                            <input type="email" placeholder="Your Email Address" />
                            <button>
                                Try for Free
                            </button>
                        </div>
                    </form>
                </section>
                <section class="report">
                    <!-- Contains report image -->
                    <div></div>
                </section>
                <section class="benefits">
                    <div class="nav">
                        <ul>
                            <li>
                                <img src="../assets/images/benefits-1.svg">
                                <h5>Better Client Relationships</h5>
                                <p>
                                    The more you know, and remember, about clients (or customers) the more your clients know you care about them. 
                                </p>
                            </li>
                            <li>
                                <img src="../assets/images/benefits-2.svg">
                                <h5>Improved Ability to Cross-sells</h5>
                                <p>
                                    The more you know about your clients' needs and wants the better able you are to provide the solution to their next problem.  
                                </p>
                            </li>
                            <li>
                                <img src="../assets/images/benefits-3.svg">
                                <h5>Long-term Investment</h5>
                                <p>
                                    Get to utilize it for various sales and marketing goals, whether to get more leads, close more deals, shorten sales cycles. 
                                </p>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="container trusted">
                    <img class="hidden-lg" src="../assets/images/trusted.svg">
                    <div class="right-column">
                        <h2>Trusted Worldwide</h2>
                        <p>
                            You need a CRM system that everyone uses to execute your strategy. 
                            Whether you're in a sales or client-centric organization, the more
                            you know about your prospects and clients, the more successful you will be.   
                        </p>
                    </div>
                </section>
                <section class="container testimony">
                    <div class="profile">
                    </div>
                    <div class="review">
                        <label class="badge">TESTIMONY</label>
                        <label>Candice Rosales</label>
                        <span>CEO, Carnations</span>
                        <img src="../assets/images/quote.svg">
                        <br><br>
                        <p>
                            We need to be able to respond to each customer in the best way possible 
                            depending on who they are and how they interact with us.
                        </p>
                    </div>
                </section>
                <section class="call-to-action">
                    <div class="left-column">
                        <h2>
                            Ready to scale your business?
                        </h2>
                        <p class="lg-size align_center">
                            Talk to us for a consultation and assessment of your business needs. Free of charge until you are
                            ready to launch. 
                            <button>
                                GET STARTED -- it's free
                            </button>
                        </p>
                    </div>
                    <img class="right-column hidden-lg" src="../assets/images/launch.svg">
                </section>
            </main>
            <footer class="grid">
                <div class="footer-block">
                    <div class="title">Solutions</div>
                    <a href="#">Account Management</a>
                    <a href="#">Point of Sales</a>
                    <a href="#">Marketing Automation</a>
                    <a href="#">Payments Processing</a>
                    <a href="#">Booking Tracking</a>
                </div>
                <div class="footer-block">
                    <div class="title">About</div>
                    <a href="#">Our Story</a>
                    <a href="#">Client Success</a>
                    <a href="#">Process</a>
                    <a href="#">Culture</a>
                    <a href="#">Roadmap</a>
                </div>
                <div class="footer-block">
                    <div class="title">Legal</div>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms</a>
                    <a href="#">Data Collection</a>
                    <a href="#">Resource Center</a>
                    <a href="#">Refund Policy</a>
                </div>
                <div class="footer-block no-margin">
                    <div class="title no-margin">
                        <img src="../assets/images/logo-color.svg">
                    </div>
                    <p> 
                        EMEW Labs is a premier solutions provider for all your business needs.
                        Our motivation is to become a driving force for the success of your businesses.
                        Your success is our success. We just opened here in the Philippines (Cebu) and have an 
                        international headquarters in Singapore.
                    </p>
                </div>
                <div class="copyright">
                    © 2020 EMEW Labs, Inc. All rights reserved.
                </div>
            </footer>
        </div>
    </body>
    <script src="../assets/js/script.js"></script>
</html>